html, body {
    margin: 0;
    padding: 0;
    font-family: bahnschrift;
    background-color: white;
}

body {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
}

.left {
    width: 100%;
}

.screen {
    height: calc(100vh - 300px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code {
    height: 300px;
    background-color: whitesmoke;
    padding: 1em;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 1rem;
    
}

.container {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.edit {
    padding: 1em;
    width: 350px;
    height: 100vh;
    background-color: whitesmoke;
    overflow-y: auto;
    box-sizing: border-box;
    color: #222;
    border-radius: 1rem;
}

.edit * {
    width: 100%;
}

input, select, button { 
    background-color: white;
    border: 0;
    outline: none;
    color: #222;
    padding: 0.5em;
    box-sizing: border-box;
}

input[type=color], input[type=range] {
    padding: 0;
}

.code pre {
    padding: 1em;
    box-sizing: border-box;
    margin:0;
    color: white;
    background-color: #222;
    overflow-y: auto;
    box-shadow: 0 0 5px #555;
    border-radius: 1em;
}

.box {
    box-sizing: border-box;
    transition: opacity 0.2s;
}

.box:hover {
    cursor: pointer;
    opacity: 0.8;
}

.box p {
    margin: 0;
}

label {
    display: block;
    margin-top: 0.5em;
}

/* button {
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    background-color: #222;
    color:white;
    transition: 0.3s;
    cursor: pointer
}

button:hover {
    scale: 1.05;
} */

h3 {
    text-align: center;
}